[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Dhaval Soneji
	email = dhaval@soneji.xyz
	signingkey = DFF45C93EB37337715166F25929843EA91E01651
# [diff]
# 	tool = vimdiff
# [difftool]
# 	prompt = false
# [alias]
# 	d = difftool
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[core]
	excludesfile = /Users/dhaval/.config/gitignore_global
[commit]
	gpgsign = true
