[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Dhaval Soneji
	email = dhaval@soneji.xyz
# [diff]
# 	tool = vimdiff
# [difftool]
# 	prompt = false
# [alias]
# 	d = difftool
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
