[submodule "git-clones/spaceship-prompt"]
	path = git-clones/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".config/nvm"]
	path = .config/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "git-clones/nvm"]
	path = git-clones/nvm
	url = https://github.com/nvm-sh/nvm.git
