[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Dhaval S
	email = dhaval@soneji.xyz
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
